.head
{
  text-align: center;
  /* background-color: red; */
  margin-bottom: 25px;
}
.heading
{
  font-size: 65px;
  color:#333333;
  font-weight:800;
}
p:nth-child(2)
{
  font-size: 22px;
  font-weight: bolder;
}
form
{
  overflow: hidden;
  border-radius: 40px;
  fill: #1A1A1A;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}
.search
{
  max-width: 100%;
  width:680px;
  height: 55px;
  padding-left: 25px;
  font-size:larger;
  border-radius: 40px;
  border: none;
  background-color: transparent;
  border: 3px solid white;
  font-weight:200;
}
.search:focus
{
  background-color: transparent;
  border:3px solid white;
}
input::placeholder
{
  font-weight:600;
}
.btn2
{
  fill: #1A1A1A;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  font-weight: bold;
  border-top-right-radius: 12px; 
  border-bottom-right-radius: 12px;
  font-size:17px;  
  background-color:#FDD333;
  color: white;
  border: none;
  position: absolute;
  right: 26px;
  top:6px;
  /* display: none; */
}
.search2
{
  position: absolute;
  right: 26px;
  top:6px;
  cursor: pointer;
}
.main
{
  height: 80vh;
}
.navbar
{
  background-color:black;
  opacity: 0.4;
  position: fixed;
  width: 70px;
  height: 100%;
  right: 0;
}
.link
{
  /* font-size:larger; */
  font-weight: bold;
}
.navbar-toggler
{
  border: 2px solid black;
}
.form-check
{
  position: absolute;
  right: 30px;
}
.container
{
  width: 100%;
  max-width: 700px;
  position: relative;
}

.loader
{
  width:100%;
  margin-top: 20px;
  text-align: center;
}

body
{
  font-family: 'Raleway';
  background-image: linear-gradient(to bottom right, rgba(123,183,246,255), rgba(128,184,245,255), rgba(215,236,219,255), rgba(242,243,209,255), rgba(251,243,197,255), rgba(255,212,185,255), rgba(255,186,170,255), rgba(255,170,165,255)80%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@media only screen and (max-width: 700px) {
  p {
    font-size: 50px;
  }
  img
  {
    width: 50px;
    height: 45px;
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 40px;
  }
  img
  {
    width: 35px;
    height: 30px;
  }
}
.Info-box1
{
  width: 50%;
  
}
.Info-box2{
  border: 1px solid rgba(0, 0, 0, 0.681);
  border-top-right-radius: 6px; 
  border-bottom-right-radius: 6px;
  border-left: none;
  position: relative;
}
.thumbnail{
  border-top-left-radius: 6px; 
  border-bottom-left-radius: 6px;
}
.videoTitle{
  color: rgba(73, 73, 73, 0.534);
  font-size:medium;
  font-weight: bold;
}
.time{
  position:absolute;
  top: 40px;
  color: rgba(73, 73, 73, 0.534);
  font-size:medium;
  font-weight: bold;
}

/* 
@media only screen and (max-width: 500px) {
  p {
    font-size: 30px;
  }
  img
  {
    width: 30px;
    height: 25px;
  }
} */