*{
  box-sizing: border-box;
}
.head
{
  text-align: center;
  /* background-color: red; */
  margin-bottom: 25px;
}
.heading
{
  font-size: 65px;
  color:#333333;
  font-weight:800;
}
p:nth-child(2)
{
  font-size: 22px;
  font-weight: bolder;
}
form
{
  overflow: hidden;
  border-radius: 40px;
  fill: #1A1A1A;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.search
{
  max-width: 100%;
  width:700px;
  height: 55px;
  padding-left: 25px;
  font-size:larger;
  border-radius: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid white;
  font-weight:600;
}
.search:focus
{
  background-color: rgba(255, 255, 255, 0.2);
  border:3px solid white;
}
input::placeholder
{
  font-weight:600;
}
.btn2
{
  fill: #1A1A1A;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  font-weight: bold;
  border-top-right-radius: 12px; 
  border-bottom-right-radius: 12px;
  font-size:17px;  
  background-color:#FDD333;
  color: white;
  border: none;
  position: absolute;
  right: 26px;
  top:6px;
  /* display: none; */
}
.search2
{
  position: absolute;
  right: 26px;
  top:6px;
  cursor: pointer;
}
.main
{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rebeccapurple; */
  height: 100vh;
  position: relative;
}
.navbar
{
  background-color:black;
  opacity: 0.4;
  position: fixed;
  width: 70px;
  height: 100%;
  right: 0;
}
.link
{
  /* font-size:larger; */
  font-weight: bold;
}
.navbar-toggler
{
  border: 2px solid black;
}
.form-check
{
  position: absolute;
  right: 30px;
}
.container2
{
  width: 100%;
  max-width: 700px;
  position: relative;
  /* background-color: red; */
  height: 100px;
}
.privacy-Service
{
  font-size:medium !important;
  text-align: center;
  margin-top: 10px;
}
.loader
{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* background-color: red; */
}

body
{
  font-family: 'Raleway';
  background-image: linear-gradient(to bottom right, rgba(123,183,246,255), rgba(128,184,245,255), rgba(215,236,219,255), rgba(242,243,209,255), rgba(251,243,197,255), rgba(255,212,185,255), rgba(255,186,170,255), rgba(255,170,165,255)80%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@media only screen and (max-width: 700px) {
  .heading {
    font-size: 50px;
  }
  img
  {
    width: 50px;
    height: 45px;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 40px;
  }
  img
  {
    width: 35px;
    height: 30px;
  }
}
/* .Info-box
{
  width: 45%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  font-family: 'DM Sans';
  display: none; */
/* } */

.info-box-1
{
  /* position: relative; */
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* background-color: rebeccapurple; */
  min-height: 240px;
  max-width:700px;
  border-radius: 15px;
  border: 3px solid white;
  padding: 15px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans';
}
.thumbnail{
  height: 200px;
  width: 400px;
  border-radius: 15px;
  /* width: 320px; */
  /* height: 170px; */
  /* position: absolute;
  top: 45px;
  left: 20px; */
}
.link
{
  color: red;
}
.dropdown
{
  background-color: rgba(255, 255, 255, 0.2);
  /* background-color: rebeccapurple; */
  border: 3px solid white;
  max-width:300px;
  width: 250px;
  text-align: center;
}
.download
{
  background-color: rgba(0, 255, 0, 0.2);
  border: 3px solid green;
  border-radius: 7px;
  font-weight: bold;
}
.switch {  
  position: absolute;
  right: 320px; 
  display: inline-block;  
  width: 60px;  
  height: 29px; 
  top: 30px; 
  transform: rotate(90deg); 
}  
html
{
  background-image: linear-gradient(to bottom right, rgba(123,183,246,255), rgba(128,184,245,255), rgba(215,236,219,255), rgba(242,243,209,255), rgba(251,243,197,255), rgba(255,212,185,255), rgba(255,186,170,255), rgba(255,170,165,255)80%);
  overflow:visible;
}

.switch input {  
  opacity: 0;  
  width: 0;  
  height: 0; 
}  

.slider {  
  position: absolute;  
  cursor: pointer;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  background-color: rgba(255, 255, 255, 0.2);
  transition: .4s;  
  border-radius: 34px;  
  border: 2px solid white;
}  

.slider:before {  
  position: absolute;  
  content: "";  
  height: 26px;  
  width: 26px;  
  background-color: rgba(255, 255, 255, 0.3);
  transition: .4s;  
  border-radius: 50%;  
  border: 2px solid white;
}  

input:checked + .slider {  
  background-color: #2196F3;  
}  

input:checked + .slider:before {  
  transform: translateX(30px);  
}
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right:100px;
  border: 2px solid white;
  border-radius: 30px;
  box-sizing: border-box;
  top:17px;
}
.weather
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-weight: bold;
  font-family: 'Dm-sans';
  font-size: larger;
  padding-right: 4px;
}
.date-time
{
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid white;
  width: 70%;
  font-weight: bold;
  font-family: 'Dm-sans';
  padding-left: 10px;
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 30px;
  }
  img
  {
    width: 30px;
    height: 25px;
  }
}
@media only screen and (max-width: 700px) {
  .info-box-1
  {
    flex-direction: column;
    gap: 2rem;
  }
  .video-title
  {
    width: 90%;
  }
  .qt
  {
    width:90%;
    text-align: center;
  }
}
.progress-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-top: 20px;
}

.progress-bar {
  width: 0;
  height: 20px;
  background-color: #4caf50;
  text-align: center;
  line-height: 20px;
  color: white;
  border-radius: 5px;
}

.download-complete {
  margin-top: 20px;
  text-align: center;
}

.download-complete a {
  color: #4caf50;
  text-decoration: none;
}
